In [106]:
# Add the Pandas dependency.
import pandas as pd

In [107]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [108]:
# A dictionary of high schools
(high_school_dicts) = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [109]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [110]:
# Three separate lists of information on high schools
(school_id) = [0, 1, 2, 3, 4]

(school_name) = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

(type_of_school) = ["District", "District", "Charter", "District","Charter"]

In [111]:
# Create a dictionary of information on high schools.
(high_schools_dicts) = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [112]:
schools_df = pd.DataFrame(high_schools_dicts)
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [115]:
schools_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [116]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [117]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)