In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [4]:
# Figure out the minimum and maximum views for a TED Talk
ted_df["views"].min()
ted_df["views"].max()
print(ted_df["views"].min())
print(ted_df["views"].max())

50443
47227110

In [5]:
# Create bins in which to place values based upon TED Talk views
bins = 10

# Create labels for these bins
group_labels = (["0 to 199k", "200k to 399k", "400k to 599k", "600k to 799k", "800k to 999k", "1mil to 2mil", "2mil to 3mil", "3mil to 4mil", "4mil to 5mil", "5mil to 50mil"])
group_labels

['0 to 199k',
 '200k to 399k',
 '400k to 599k',
 '600k to 799k',
 '800k to 999k',
 '1mil to 2mil',
 '2mil to 3mil',
 '3mil to 4mil',
 '4mil to 5mil',
 '5mil to 50mil']

In [6]:
# Slice the data and place it into bins
cut = pd.cut(ted_df["views"], 10, group_labels)
cut

0       (42509443.3, 47227110.0]
1          (3266.333, 4768109.7]
2          (3266.333, 4768109.7]
3          (3266.333, 4768109.7]
4        (9485776.4, 14203443.1]
                  ...
2545       (3266.333, 4768109.7]
2546       (3266.333, 4768109.7]
2547       (3266.333, 4768109.7]
2548       (3266.333, 4768109.7]
2549       (3266.333, 4768109.7]
Name: views, Length: 2550, dtype: category
Categories (10, interval[float64, right]): [(3266.333, 4768109.7] < (4768109.7, 9485776.4] < (9485776.4, 14203443.1] < (14203443.1, 18921109.8] ... (28356443.2, 33074109.9] < (33074109.9, 37791776.6] < (37791776.6, 42509443.3] < (42509443.3, 47227110.0]]

In [7]:
# Create a GroupBy object based upon "View Group"


# Find how many rows fall into each bin


# Get the average of each column within the GroupBy object